* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: black;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    color: azure;
    padding: 2em;
}

a,
a:visited {
    color: azure;
    text-decoration: none;
}

#portfolio {
    background-color: #13E8F163;
    width: 100vw;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portfolio>h1 {
    font: normal normal 900 70px/118px Heebo;
}

#portfolio>p {
    font: normal normal normal 17px/29px Heebo;
    width: 800px;
    text-align: center;
}

.top-buttons {
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-buttons>a>input {
    background-color: #1AE0EC;
    border-radius: 15px 15px 15px 15px;
    font: normal normal medium 14px/25px Heebo;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.top-strip {
    width: 100vw;
    height: 150px;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px gray;
}

.tool {
    width: 80px;
    height: 80px;
}

.tool>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-con {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBFEFF;
}

.img-con {
    width: 60vw;
    height: 60vh;
    box-shadow: 2px 2px 6px gray;
}

.img-con>a>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#hamburger {
    color: azure;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

#footer {
    width: 100vw;
    height: 50px;
    color: azure;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

#footer>p {
    padding: 1em;
}

@media(max-width:800px) {

    #hamburger {
        display: block;
        padding: 2em;
        text-align: center;
        font-size: 24px;
    }

    input[type="checkbox"]:checked~nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    nav {
        display: none;
    }

    nav>a {
        margin: 1em;
    }

    #portfolio {
        height: 550px;
        justify-content: center;
        align-items: center;
    }

    #portfolio>p {
        width: 350px;
    }

    .top-buttons {
        width: 240px;
    }

    .top-buttons>input {
        padding: 5px;
        font: normal normal 600 15px/25px Heebo;
    }

    .main-con {
        height: 500px;
    }

    .img-con {
        width: 90vw;
        height: 30vh;
        background-color: crimson;
    }

    .img-con>img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
}